

<div class="p-4 mb-3 bg-light rounded">

  <h3 class="font-weight-bolder">Topic ranking</h3>
  <br>
  <li *ngFor="let like of topicRankingList; let i = index" class="d-flex">
    <div class="card mb-3">
      <img class="card-img-top" src={{topicRankingList[i]?.image}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a>TOP {{i+1}}</a></h5>
        <li class="l d-flex justify-content-between align-items-center">
            <span>From:</span><span>{{topicRankingList[i]?.name}} </span> Likes:
            <span class="badge badge-primary badge-pill">{{topicRankingList[i]?.totalLike}}</span>
          </li>
        <!-- <a href="#" class="btn btn-primary">Browse</a> -->
      </div>
    </div>
  </li>
</div>
