

<div class="p-4 mb-3 bg-light rounded">

  <h2 class="font-weight-bolder">Topic ranking</h2>
  <br>
  <!-- Card -->
  <div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title"><a>TOP 1</a></h4>
      <!-- Button -->
      <a href="#" class="btn btn-primary">Browse</a>

    </div>

  </div>
</div>
