#navbarButton{
    position: relative;
    margin-left: 60%;  
}

.welcomeMsg {
    color: white,
}

.welcomeBtn {
    border: 0
}
.navbar-collapse.collapse {
    display: block!important;
  }

.navbar{
    position: sticky;
    top: 0px;
    z-index: 10;
  }