.login-container {
    position: absolute;
    height: 100%;
    width: 100%;
    
    background-image: url("../../../assets/background/bg1.png");
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-outer-wrapper {
    background: rgba(255, 255, 255, 0.959);
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 50px 30px 50px;

    display: inline-block;
    box-shadow: 0 500px 500px 0px rgba(0, 0, 0, 0.1);
}

.login-header {
    margin: 5% 2% 5% 2%;
}

.login-btn-wrapper {
    margin-top: 4%;
    margin-bottom: 4%;
}

.login-hangAround-wrapper {
    margin-bottom: 5%;
}

.email-wrapper {
    margin-bottom: 3%
}

.password-wrapper {
    margin-top: 5%
}