<div class="login-container">
    <div class="login-outer-wrapper">
        <div>
            Welcome
        </div>
        
        <div>
            <form action="#">
                <div>
                    <input type="text" name="email">
                </div>

                <div>
                    <input type="text" name="password">
                </div>

                <button class="btn btn-primary">Log In</button>
            </form>
        </div>

        <div>
            <h6>Don't have an account</h6>
        </div>

    </div>
</div>
