<app-image-upload (childEvent)="getAllChats()"></app-image-upload>

<div class="blog-post" *ngFor="let chat of mainChattingList; let i = index">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h5>Post</h5>
    </div>

    <div class="card-body bg-secondary">
      <div class="view overlay zoom">
        <img [src]="chat?.mainImage" class="img-fluid " alt="zoom">
      </div>
      <strong>Posted by:</strong><span class="col-4">{{chat?.ownerName}}</span>
      <strong>Date:</strong> <span class="col-3">{{chat?.createdAt | date:'MMM, dd, yyyy -----hh：mm：ss'}} </span>
    </div>
    <div class="card-footer bg-dark text-white">

      <!-- Edit Button -->
          <button (click)="goToEditPage(mainChattingList[i]._id)"  *ngIf="mainChattingList[i].isAuth" type="button" name="edit" class="btn btn btn-info">Edit</button>
          <!-- Delete Button  for admin need to add function later-->
          <a href="#" *ngIf="mainChattingList[i].isAuth"><button type="button" name="button" class="btn btn btn-danger" style='margin:10px;'>Delete</button></a>
          <!-- Likes Dropdown  -->
          <div class="dropdown">
            <!-- Like Button -->
            <button type="button" name="button" class="btn btn-outline-danger" style='margin:10px;' (click)="like(i)">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">&nbsp;</span>Likes: {{ chat.likes.length }}</button>
            <!-- Dropdown Menu Items -->
            <div class="dropdown-content">
              <a *ngFor="let liker of mainChattingList[i].likes">{{ liker.liker }}</a>

            </div>
      </div>
      <button (click)="goToEditPage(mainChattingList[i]._id)" type="button" name="button" class="btn btn-outline-secondary" style="float: right">Comment</button>
    </div>
  </div>
  <br>
</div>
