<div class="signup-container" style="background-color:#9CBCD9  ">
  <div class="signup-outer-wrapper">
    <div class="row justify-content-center"> 
      <div class="signup-header">
            <h1>Sign Up</h1>
          </div>
      <div>
    </div>

      <form  [formGroup]="signupForm" (ngSubmit)="onSubmit()">
       
        <div class="row">
          <div class="name-wrapper">
            <input class="form-control" type="text" formControlName="name" name="name" required placeholder="Username">
          </div>
        </div>
        
        <div class="row">
          <div class="password-wrapper">
            <input class="form-control" type="password" formControlName="password" name="password" required placeholder="Password">
          </div>
        </div>
        
        <div class="row">
          <div class="email-wrapper">
            <input class="form-control" type="text" formControlName="email" name="email" required placeholder="Email">
          </div>
        </div>
        
        <div class="row justify-content-center">
          <button [disabled]="signupForm.status=='INVALID'" class="btn btn-primary col-11 signup-btn-wrapper" type="submit">Submit</button>
        </div>
    
        <div class="row justify-content-center">
            <button routerLink="/login" class="btn btn-danger col-11 signup-btn-wrapper" type="button">Login</button>
        </div>
        
      </form>
    </div>
  </div>
</div>


