
<!-- <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Select Image</label>
    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form> -->
<app-navigation ></app-navigation>
<p>Week 10</p>
<div class="profile-container" style="background-color:#ff0">
  <div class="signup-outer-wrapper">   
    <div class="row justify-content-center"> 
      <div>
          <div class="row justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src={{imageUrl}} class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Profile Image</p>
                </div>
            </div>
          </div>

          <div class="col-md-6 offset-md-1">
              <form (ngSubmit)="onSubmit()">
                  <div class="form-group" id="upload">
                      <input type="file" name="image" #fileInput accept="image/*" (change)="onFilePicked($event)" onclick="this.value=''">
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary" id ="submit-button" type="submit">Submit</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>

