<html lang="zh-CN">
<head>



  <title>Hot Discussion</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<!--***********************************navagation start from here*******************************************************************-->
<app-navigation></app-navigation>
<!--*****************************************main discussion borad ***************************************************-->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
       Hot Discussion
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">testing</h2>
      </div>
    </div>
    <!-- *******************************************user ranking and topic ranking *************************************************************-->
    <aside class="col-md-4 blog-sidebar">
      <app-user-ranking></app-user-ranking>
      <app-pic-ranking></app-pic-ranking>
    </aside>

  </div>

</main><!-- /.container -->




</body>


</html>
