<html lang="zh-CN">
<head>



  <title>Hot Discussion</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<!--***********************************navagation start from here*******************************************************************-->
<app-navigation></app-navigation>
<!--*****************************************main discussion borad ***************************************************-->
<main role="main" class="container">

  <div class="container head">
    <br>
      <!-- <h1>The most popular picture discussion community </h1><br>
      <h4>Allow you to discuss by picture without international border</h4><br> -->
  </div>
  <div class="input-group">
<!--    reference at https://getbootstrap.com/docs/4.3/examples/album/#-->
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01"
             aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
    <button class="btn btn-primary">Post Now</button>
  </div>
  <br><br>

  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post">
        <div class="card">
        <div class="view overlay zoom">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(131).jpg" class="img-fluid " alt="zoom">
        </div>
          <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">View comments</button>
              <button type="button" class="btn btn-secondary">Reply</button>
              <button type="button" class="btn btn-secondary">Like</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- *******************************************user ranking and topic ranking *************************************************************-->
    <aside class="col-md-4 blog-sidebar">
      <app-user-ranking></app-user-ranking>
      <app-pic-ranking></app-pic-ranking>
    </aside>

  </div>

</main><!-- /.container -->




</body>


</html>
