<html lang="zh-CN">
<head>



  <title>Hot Discussion</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<!--***********************************navagation start from here*******************************************************************-->
<app-navigation></app-navigation>
<!--*****************************************main discussion borad ***************************************************-->
<main role="main" class="container">

  <div class="container head">
      <!-- <h1>The most popular picture discussion community </h1><br>
      <h4>Allow you to discuss by picture without international border</h4><br> -->
  </div>
  <div class="input-group">
<!--    reference at https://getbootstrap.com/docs/4.3/examples/album/#-->
  </div>
  <br><br>

  <div class="row">
    <div class="col-md-8 blog-main">

      <app-chatting-card></app-chatting-card>

    </div>
    <!-- *******************************************user ranking and topic ranking *************************************************************-->
    <aside class="col-md-4 blog-sidebar">
      <app-user-ranking></app-user-ranking>
      <app-pic-ranking></app-pic-ranking>
    </aside>

  </div>

</main><!-- /.container -->




</body>


</html>
