.my-blue {
    color: rgb(72, 182, 255)
}

.card-image {
    height: 410px
}

.comment-wrapper {
    margin-top: 1%
}

.comment-image {
    height: 280px
}

.comment-item {
    margin-bottom: 5px
}

.edit-part:hover {
    color: rgb(68, 154, 235);
    cursor: pointer
}