<div class="card">
  <div class="image-wrapper">
    <img [src]="imageUrl" class="card-img-top card-image" alt="Single Card">
  </div>
  <div class="card-header">
    <div class="row justify-content-center">
      <div class="col-3">
        <i class="far fa-comment-dots"></i><small>comment</small>
      </div>
      <div class="col-3">
        <div *ngIf="likesToggle">
            <i class="fas fa-thumbs-up"></i><small>dislike</small>
        </div>
        <div *ngIf="!likesToggle">
            <i class="far fa-thumbs-up"></i><small>like</small>
        </div>
      </div>
      <div class="col-3">
          <i class="far fa-edit"></i><small>edit</small>
      </div>
      <div class="col-3">
          <i class="far fa-trash-alt"></i><small>delete</small>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <small>Posted by <span class="my-blue">{{singleChat?.ownerName}}</span></small>
    <small> at {{singleChat?.createdAt | date:'MMM, dd, yyyy - hh：mm：ss'}}</small>
  </div>
</div>

<!-- comment -->
<div class="card mb-3 comment-wrapper">
    <div class="card-header my-blue">
        Comments
    </div>
  <div class="row no-gutters comment-item" *ngFor = "let item of commentList">
    <div class="col-md-7">
      <img [src]="imageUrl" class="card-img comment-image" alt="Comment">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-title">Commented by <span class="my-blue">nicky</span></p>
        <p class="card-text"><small class="text-muted">Posted at xxx</small></p>
      </div>
    </div>
  </div>
</div>