<div class="card">
  <div class="image-wrapper">
    <img [src]="imageUrl" class="card-img-top card-image" alt="Single Card">
    <div class="row justify-content-center" style="height: 50px" *ngIf="emojiToggle">

      <!-- emoji list -->
      <div class="col-1"></div>
      <div class="col-1 myImgWrapper" [ngStyle]="{'background-color': colorPicked}" (click)="confirmEmoji(i)" *ngFor="let emoji of emojiList; let i = index"
        [title] = "emoji.title">
        <div>
            <img class="img-circle img-responsive myEmoji" style="max-height: 38px; max-width: 38px;" [src]="emoji?.url" class="img-circle special-img">
        </div>
      </div>
      <div class="col-1 align-self-center align-self-start mySending">
        <i class="far fa-paper-plane" (click)="sendEmoji()" title="Send"></i>
      </div>

    </div>

  </div>
  <div class="card-header">
    <small>Posted by <span class="my-blue">{{singleChat?.ownerName}}</span></small>
    <small> at {{singleChat?.createdAt | date:'MMM, dd, yyyy - hh：mm：ss'}}</small>
  </div>
  <div class="card-footer">
    <div class="row justify-content-center">
      <div class="col-3 edit-part dropdown"      >

        <div class="dropbtn">
          <i class="far fa-comment-dots"></i><small>{{singleChat?.comments?.length}} comments</small>
        </div>
        <div class="dropdown-content">
          <a (click)="showEmoji()">Emoji</a>
          <a (click)="comment()">Upload from local</a>
        </div>

      </div>

      <div class="col-3 edit-part">
        <div *ngIf="likesToggle">
            <i class="fas fa-thumbs-up"></i><small>{{singleChat?.likes?.length}} likes</small>
        </div>
        <div *ngIf="!likesToggle">
            <i class="far fa-thumbs-up"></i><small>{{singleChat?.likes?.length}} likes</small>
        </div>
      </div>
      <div class="col-3 edit-part" *ngIf="isAuthOwner()" (click)="goToChangePic()">
          <i class="far fa-edit"></i><small>edit</small>
      </div>
      <div class="col-3 edit-part" *ngIf="isAuthOwner() || isAdmin()" (click) = delete()>
          <i class="far fa-trash-alt"></i><small>delete</small>
      </div>
    </div>
  </div>
</div>

<div class="myComponentWrapper" *ngIf="myComponentToggle">
  <app-image-upload [mainImageUrl] = "commentUrl" (childEvent) = "getChat()" name="Comment your image here"></app-image-upload>
</div>
<div class="changePostWrapper" *ngIf="changePicToggle">
  <app-image-upload [mainImageUrl] = "chnagePicUrl" (childEvent) = "getChat()" name="Change Your Post Here"></app-image-upload>
</div>
<!-- comment -->
<div class="card mb-3 comment-wrapper">
    <div class="card-header my-blue">
        Comments
    </div>
  <div class="row no-gutters comment-item" *ngFor = "let item of singleChat.comments; let i = index">
    <div class="col-md-7">
      <img [src]="item?.content" class="card-img comment-image" alt="Comment">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-title">Commented by <span class="my-blue">{{item?.commenter}}</span></p>
        <p class="card-text"><small class="text-muted">Posted at xxx</small></p>
      </div>
    </div>
  </div>
</div>
